* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#root > div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}

.cardsDeck {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    width: calc(100% - 15em);
}

.card {
    width: 14vMin;
    height:14vMin;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	position: relative;
    border: solid 1px black;
    border-radius: 3px;
    margin: 10px;
    background-color: lightgrey;
}

.card.flipped, .card.guessed {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.card.guessed {
    background-color: green;
    border-color: green;
}

.card.hide {
    opacity: 0;
}

.card.hide .cardBack {
    display: none;
}

.cardFront, .cardBack {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    text-align: center;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.card img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.cardFront {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.cardBack {
    z-index: 2;
}

.scoreCard {
    width: 15em;
    background: teal;
    color: white;
    padding: 1em;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.scoreCard .wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.scoreCard .wrapper > div {
    font-size: large;
    margin-bottom: 1em;
}

.scoreCard button {
    padding: 0.5em;
    background: white;
    color: black;
    border-radius: 3px;
    border: none;
    margin-right: 1em;
}

.scoreCard a {
    color: white;
}

@media screen and (max-width: 80em) {
    body {
        font-size: 24px;
    }
    
    #root > div {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .cardsDeck, .scoreCard {
        width: 100%;
    }
    
    .cardsDeck {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }
}