* {
    margin: 0;
    padding: 0;
    user-select: none;
}

#root > div {
    width: 100%;
    display: flex;
    min-height: 100vh;
}

.cardsDeck {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    width: calc(100% - 15em);
}

.card {
    width: 14vMin;
    height:14vMin;
    transition: all 0.6s;
	transform-style: preserve-3d;
	position: relative;
    border: solid 1px black;
    border-radius: 3px;
    margin: 10px;
    background-color: lightgrey;
}

.card.flipped, .card.guessed {
    transform: rotateY(180deg);
}

.card.guessed {
    background-color: green;
    border-color: green;
}

.card.hide {
    opacity: 0;
}

.card.hide .cardBack {
    display: none;
}

.cardFront, .cardBack {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    text-align: center;
    transition: opacity 0.6s;
}

.card img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.cardFront {
    transform: rotateY(180deg);
}

.cardBack {
    z-index: 2;
}

.scoreCard {
    width: 15em;
    background: teal;
    color: white;
    padding: 1em;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scoreCard .wrapper {
    flex: 1;
}

.scoreCard .wrapper > div {
    font-size: large;
    margin-bottom: 1em;
}

.scoreCard button {
    padding: 0.5em;
    background: white;
    color: black;
    border-radius: 3px;
    border: none;
    margin-right: 1em;
}

.scoreCard a {
    color: white;
}

@media screen and (max-width: 80em) {
    body {
        font-size: 24px;
    }
    
    #root > div {
        flex-direction: column;
    }
    
    .cardsDeck, .scoreCard {
        width: 100%;
    }
    
    .cardsDeck {
        flex: 1;
    }
}